.hero{
    @include flexContainer( column-reverse);
    text-align: center;
    gap: 3rem;
    padding: 4rem 2rem;

    &--img{
        width: 100%;

        img{
            width: 100%;
        }
    }

    &--text{
        transform: translateX(100%);
        padding: 1.5rem;
        h1{
            font-weight: 700;
            font-size: 3.8rem;
            line-height: 1.5;
        }
        &>p{
            margin: 2rem 0;
        }
        
        &__cta{
            @include flexContainer(column);
            gap: 20px;

            &>*{
                width: 100%;
                border-radius: 4px;
            }
            
            .mail{
                height: fit-content;
                
                input{
                    @include cursor;
                    border: 2px solid $gray;
                    width: 100%;
                    height: 100%;
                    border-radius: inherit;
                    padding: 1rem 2rem;
                    font-size: 2rem;

                }

            }

            .btn{
                background: $accent-blue;
                color: $white;
                padding: 1.2rem 0;
                @include cursor
                
            }
        }
    }
}